@model TeamUp.Web.Models.Fields.FieldAddModel

@{
    ViewBag.Title = "Създаване на игрище";
}

<div>
    <h3>@TempData["Message"]</h3>
</div>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Add", "Field", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();

    @Html.EditorFor(m => m.Name)
    @Html.EditorFor(m => m.Phone)
    @Html.EditorFor(m => m.OpeningHourDate)
    @Html.EditorFor(m => m.ClosingHourDate)
    @Html.EditorFor(m => m.Website)
    @Html.EditorFor(m => m.City)
    @Html.EditorFor(m => m.Neighbourhood)
    @Html.EditorFor(m => m.Street)
    @Html.EditorFor(m => m.Number)
    @Html.EditorFor(m => m.MoreInfo)
    @Html.EditorFor(m => m.UploadedImage)

    <input type="submit" class="btn btn-success" />
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}