@model TeamUp.Web.Models.GameViewModel

<div class="col-md-3 text-center">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                @Html.ActionLink("Кандидатствай", "Apply", "Game", new { Model.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Информация", "Details", "Game", new { Model.Id }, new { @class = "btn btn-success" })
            </div>
        </li>
        <li class="list-group-item">
            <b>Начало:</b>
            @Html.DisplayFor(m => m.StartDate, "DateTime")
        </li>
        <li class="list-group-item">
            <b>Свободни места:</b> @Model.AvailableSpots
        </li>
        <li class="list-group-item">
            <b>Максимален брой играчи:</b> @Model.MaxPlayers
        </li>
        <li class="list-group-item">
            <b>Игрище:</b> @Model.Field.Name
        </li>
        <li class="list-group-item">
            <b>Цена:</b> @string.Format("{0}", Model.Price.ToString("c", new System.Globalization.CultureInfo("bg")))
        </li>
    </ul>
</div>
