@model TeamUp.Web.Models.GameViewModel

<div class="col-md-3 text-center">

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <a href="#" class="btn btn-success">Кандидатствай</a>
                <a href="#" class="btn btn-success">Информация</a>
            </div>
        </li>
        <li class="list-group-item">
            <b>Начало:</b>
            @string.Format("{0} {1} {2:HH:mm}", Model.StartDate.Day, Model.StartDate.ToString("MMMM", new System.Globalization.CultureInfo("bg")), Model.StartDate)
        </li>
        <li class="list-group-item">
            <b>Свободни места:</b> @Model.AvailableSpots
        </li>
        <li class="list-group-item">
            <b>Максимален брой играчи:</b> @Model.MaxPlayers
        </li>
        <li class="list-group-item">
            <b>Игрище:</b> @Model.Field.Name
        </li>
        <li class="list-group-item">
            <b>Цена:</b> @string.Format("{0}", Model.Price.ToString("c", new System.Globalization.CultureInfo("bg")))
        </li>
    </ul>
</div>
